@import url(http://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);


/* Scaffolding */

body {
    color: #333333;
    font-weight: 300;
    font: 16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 50px;
}

.wrapper {
    *zoom: 1;
    margin: 0 auto;
    width: 950px;
}

.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}

.wrapper:after {
    clear: both;
}

img {
    max-width: 100%;
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
    color: #222222;
    margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
}

h1, h2, h3 {
    line-height: 1.1;
}

h1 {
    font-size: 30px;
}

h2, h2 a {
    color: #3498db !important;
    font-size: 26px;
}

h2 a:hover {
    color: #333333 !important;
    text-decoration: underline;
}

h3, h4, h5, h6, h3 a, h4 a, h5 a, h6 a {
    color: #444444 !important;
}

h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: #444444 !important;
    text-decoration: underline;
}

a {
    color: #6491b2;
    text-decoration: none;
}

a:hover,
a:active {
    color: #4f738d;
    text-decoration: underline;
}

a small {
    color: #777777;
    display: block;
    font-size: 11px;
    margin-top: -0.6em;
}

a:hover small {
    color: #777777;
}

strong {
    color: #222222;
    font-weight: 700;
}

section {
    float: right;
    min-height: 400px;
    overflow: hidden;
    padding-bottom: 50px;
    width: 600px;
}

small {
    font-size: 11px;
}

hr {
    background: #e5e5e5;
    border: 0;
    height: 1px;
    margin: 0 0 20px;
}

blockquote {
    border-left: 1px solid #e5e5e5;
    font-style: italic;
    margin: 0;
    padding: 0 0 0 20px;
}

#table_of_contents {
    margin-bottom: 0;
}

.maruku_toc {
    *zoom: 1;
    font-size: 0.9em;
}

.maruku_toc:before,
.maruku_toc:after {
    content: " ";
    display: table;
}

.maruku_toc:after {
    clear: both;
}

.maruku_toc > ul {
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    float: left;
    padding: 0.5em 1em 0.5em 2em;
}

.maruku_toc li > ul {
    margin-bottom: 0;
}

code, pre {
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    color: #333333;
    font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
    /* font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace; */
    font-size: 13px;
    padding: 2px 4px;
}

pre {
    overflow-x: auto;
    padding: 8px 15px;
}

pre > code {
    /* background: transparent; */
    background: #f8f8f8;
    /* border: none; */
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-bottom: 1px solid #e5e5e5;
    padding: 5px 10px;
    text-align: left;
}

dt {
    color: #444444;
    font-weight: 700;
}

th {
    color: #444444;
}


/* Header / Sidebar Top */

header {
    border-right: 1px solid #eeeeee;
    float: left;
    margin: -50px 0;
    min-height: 100%;
    padding: 50px 30px 50px 0;
    position: fixed;
    width: 275px;
}

header h1 {
    margin-bottom: 12px;
}

header ul {
    background: #eeeeee;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    border-radius:5px;
    border: 1px solid #d2d2d2;
    box-shadow: inset #ffffff 0 1px 0, inset rgba(0, 0, 0, 0.03) 0 -1px 0;
    height: 40px;
    list-style: none;
    padding: 0;
    width: 270px;
}

header ul a {
  color: #999999;
  display: block;
  font-size: 11px;
  height: 34px;
  line-height: 1;
  padding-top: 6px;
  text-align: center;
}

header ul a:hover {
  background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #dddddd 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #ffffff 0%, #dddddd 100%);
  background: linear-gradient(top, #ffffff 0%, #dddddd 100%);
  color: #999999;
}

header ul a:active {
    box-shadow: inset 0px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 0px 2px 2px 0px #dddddd;
    -webkit-box-shadow: inset 0px 2px 2px 0px #dddddd;
}

header ul a strong {
    color: #222222;
    display: block;
    font-size: 14px;
}

header li {
    border-right: 1px solid #d2d2d2;
    float: left;
    height: 40px;
    width: 89px;
}

header li:first-child a {
    border-radius: 5px 0 0 5px;
}

header li:last-child a {
    border-radius: 0 5px 5px 0;
}

header ul li + li {
    border-left:1px solid #ffffff;
    width:88px;
}

header ul li + li + li {
    border-right:none;
    width:89px;
}


/* Navbar */

nav ul {
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    height: 24px;
    list-style: none;
    padding: 0;
    width: 272px;
}

nav li {
    border-right: 1px solid #e5e5e5;
    float: left;
    height: 24px;
    width: 67px;
}

nav li:last-child {
    border-right: none;
    width: 68px;
}

nav li a {
    color: #999999;
    display: block;
    font-size: 11px;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

nav li:first-child a {
    border-radius: 5px 0 0 5px;
}

nav li:last-child a {
    border-radius: 0 5px 5px 0;
}

nav li a:hover,
nav li a:active {
    color: #444444;
    font-weight: bold;
    text-decoration: none;
}

nav li a:active,
nav li a.active,
nav li a.active:hover {
    background: #f8f8f8;
}


/* Pagination */

.pagination {
    *zoom: 1;
}

.pagination:before,
.pagination:after {
    content: " ";
    display: table;
}

.pagination:after {
    clear: both;
}

.pagination ul {
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    display: inline-block;
    float: right;
    height: 24px;
    list-style: none;
    padding: 0;
}

.pagination li {
    border-right: 1px solid #e5e5e5;
    float: left;
    height: 24px;
}

.pagination li:last-child {
    border-right: none;
}

.pagination li a {
    color: #999999;
    display: block;
    font-size: 11px;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    text-align: center;
    width: 1em;
}

.pagination li:first-child a {
    border-radius: 5px 0 0 5px;
}

.pagination li:last-child a {
    border-radius: 0 5px 5px 0;
}

.pagination li.prev a {
    width: 4em;
}

.pagination li.next a {
    width: 2.5em;
}

.pagination li a:hover,
.pagination li a:active {
    color: #444444;
    font-weight: bold;
    text-decoration: none;
}

.pagination li a:active,
.pagination li a.active,
.pagination li a.active:hover {
    background: #f8f8f8;
}


/* Post Content */

.post-title {
    margin-bottom: 0;
}

.post-meta,
.post-meta a {
    color: #aaaaaa;
    margin-bottom: 0;
    white-space: nowrap;
}

.post-meta a:hover,
.post-meta a:active {
    text-decoration: underline;
}

.post-banner {
    background-size: auto 100%;
    background: #000000 url('/img/post-banners/no-image.gif') center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
    margin: 0.5em 0;
    max-height: 150px;
    overflow: hidden;
    width: 100%;
}

.post-banner.no-image,
.post-banner.no-image:hover {
    background-size: 100% 100% !important;
}

.post-banner > img {
    display: block;
    height: 0;
    margin: 0;
    padding-bottom: 33%;
    padding: 0;
    visibility: hidden;
    width: 100%;
}

a.post-banner {
    -webkit-transition: all .2s ease-in-out;
}

a.post-banner:hover {
    background-size: auto 104%;
}

.post-excerpt {
    margin-bottom: 2em;
}


/* Footer / Sidebar */

footer {
    bottom: 50px;
    float: left;
    font-size: 14px;
    position: fixed;
    text-align: center;
    width: 275px;
}

img.avatar {
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    height: 72px;
    width: 72px;
}

img.profile {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 100px;
    width: 100px;
}

img.pull-right {
    float: right;
    margin: 0 0 1em 1em;
    max-width: 40%;
}

img.pull-left {
    float: right;
    margin: 0 1em 1em 0;
    max-width: 40%;
}


/* Responsive Adjustments */

@media print, screen and (max-width: 960px) {
    div.wrapper {
        margin: 0;
        width: auto;
        /* width: 600px; */
    }

    header, section, footer {
        float: none;
        position: static;
        width: auto;
    }

    header {
        background: none;
        border: none;
        margin: 0;
        min-height: 0;
        padding: 0 320px 10px 0;
        position: relative;
    }

    section {
        border-width: 1px 0;
        border: 1px solid #eeeeee;
        margin: 0 0 20px;
        padding: 20px 0;
    }

    header a small {
        display: inline;
    }

    header ul {
        position: absolute;
        right: 50px;
        top: 52px;
    }

    footer {
        margin: 0 auto;
        max-width: 400px;
        text-align: center;
    }
}

@media print, screen and (max-width: 720px) {
    body {
        padding-top: 15px;
        word-wrap: break-word;
    }

    div.wrapper {
        margin: 0;
        width: auto;
    }

    header {
        padding: 0 0 15px;
        text-align: center;
    }

    nav ul {
        margin: 0 auto;
        position: static;
    }

    header ul, header p.view {
        position: static;
    }

    pre, pre > code {
        word-wrap: normal;
    }
}

@media print, screen and (max-width: 480px) {
    body {
        padding: 15px;
    }

    header ul {
        display: none;
    }

    .post-meta {
        font-size: 15px;
    }
}

@media print {
    body {
        color: #444444;
        font-size: 12pt;
        padding: 0.4in;
    }
}


/* Home Page Styling */

div.wrapper.home {
    margin: 0;
    width: auto;
}

div.home header,
div.home section,
div.home footer {
    float: none;
    margin: 0 auto;
    max-width: 400px;
    position: static;
    text-align: center;
    width: auto;
}

div.home header {
    background: none;
    border: none;
    margin-bottom: 2em;
    min-height: 0;
    padding: 0;
    text-align: center;
}

div.home header ul {
    margin: 0 auto;
    position: static;
}

div.home section {
    border: none;
    min-height: 0;
    padding: 0;
}

div.home footer {
    max-width: 300px;
}
