---
layout: default
title: Projects
css_extras: "projects.css"
---

<h1>{{ page.title }}</h1>
<p>Nothing to see here. Shoo.</p>

<div class="projects">
    {% for project in site.posts %}
        {% capture row %}{% cycle '0', '1' %}{% endcapture %}
        {% if row == '0' %}
        <div class="views-row views-row-even">
        {% else %}
        <div class="views-row views-row-odd">
        {% endif %}
            <img src="{{ project.thumbnail }}">
            <div class="proj_text">
                <div class="proj_title"><h2>{{ project.title }}</h2></div>
                <div class="proj_desc">
                    <p>{{ project.excerpt }}</p>
                    <p>
                    {% if project.url_details != '' %}
                        <a href="{{ project.url }}">Read more</a>
                    {% endif %}
                    {% if project.url_demo != '' %}
                        <a href="{{ project.url_demo }}" target="_blank">Live Demo</a>
                    {% endif %}
                    {% if project.url_source != '' %}
                        <a href="{{ project.url_source }}" target="_blank">View Source</a>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
