---
layout: default
title: "Projects"
css_extras:
    - "/css/projects.css"
---

<h1>{{ page.title }}</h1>

<p>
    Morbi feugiat iaculis condimentum. Phasellus pharetra ante ac euismod elementum. Morbi iaculis tortor sit amet porttitor tincidunt. Donec consectetur lorem sed nisl volutpat dapibus. Nunc viverra imperdiet ullamcorper. Sed sagittis a sem vitae bibendum. Maecenas mi tellus, aliquet imperdiet mollis quis, fringilla non tellus. Phasellus interdum leo et mattis pharetra. Fusce ullamcorper turpis in nisi dictum, et imperdiet massa dictum. Vestibulum suscipit sollicitudin interdum. Mauris eget odio aliquam, rhoncus eros sit amet, pulvinar lorem. Etiam aliquam non urna eget interdum. Nulla eu scelerisque metus, non imperdiet enim. Sed convallis consectetur dui, fermentum porttitor mauris fringilla eget. Interdum et malesuada fames ac ante ipsum primis in faucibus.
</p>

<div class="projects">
    {% for project in site.categories.projects %}
    {% capture row %}{% cycle '0', '1' %}{% endcapture %}
    {% if row == '0' %}
    <div class="views-row views-row-even">
    {% else %}
    <div class="views-row views-row-odd">
    {% endif %}
        <a href="{{ project.url }}">
            <div class="img_container" style="{{ project.thumbnail_style }}"></div>
        </a>
        <div class="proj_text">
            <div class="proj_title">
                <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
            </div>
            <div class="proj_desc">
                {{ project.excerpt }}
                <p>
                    {% if project.url_details != '' %}
                    <a href="{{ project.url }}">
                        <i class="fa fa-info-circle"></i> Read more
                    </a>
                    {% endif %}
                    {% if project.url_demo != '' %}
                    {% if project.url_details != '' %}|{% endif %}
                    <a href="{{ project.url_demo }}" target="_blank">
                        <i class="fa fa-cogs"></i> Live Demo
                    </a>
                    {% endif %}
                    {% if project.url_source != '' %}
                    {% if project.url_details != '' or project.url_demo != '' %}|{% endif %}
                    <a href="{{ project.url_source }}" target="_blank">
                        <i class="fa fa-code"></i> View Source
                    </a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
