<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - Kevin Chan</title>

        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/pygment_trac.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="wrapper">
            <header>
                <h1><a href="/">{{ site.name }}</a></h1>
                <a href="/">home</a>
            </header>

            <section>
                {{ content }}
            </section>

            <footer>
                <p>Kevin Chan</p>
                <p>
                    <a href="http://github.com/chessmasterhong">github.com/chessmasterhong</a><br />
                    <a href="http://bitbucket.org/chessmasterhong">bitbucket.org/chessmasterhong</a><br />
                </p>
            </footer>
        </div>

        <script src="javascripts/scale.fix.js"></script>
    </body>
</html>
