<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kevin Chan | chessmasterhong</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:700,700italic,400,400italic,300,300italic">
        <link rel="stylesheet" type="text/css" href="_styles/site.css">
    </head>

    <body>
    </body>
</html>
