---
layout: default
css_extras: ["/css/jquery.bxslider.css"]
js_extras: ["//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js",
            "/js/jquery.bxslider.min.js"]
---

<h1>{{ page.title }}</h1>

{% capture slide_count %}{{ page.slides | size }}{% endcapture %}
{% if slide_count > '0' %}
<div class="bx-wrapper">
    <div class="bx-viewport">
        <ul class="bxslider">
            {% for slide in page.slides %}
            <li><img src="{{ slide.image }}" title="{{ slide.caption }}"></li>
            {% endfor %}
        </ul>
    </div>

    <div id="bx-pager">
        <ul>
            {% for slide in page.slides %}
            <li>
                <a href="" data-slide-index="{{ forloop.index | minus: 1 }}">
                    <div class="img_container" style="background: url({{ slide.image }}) no-repeat -20px -10px; background-size: 200px;"></div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{{ content }}

{% if slide_count > '0' %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.bxslider').bxSlider({
            {% if slide_count > '1' %}
            auto: true,
            {% endif %}
            captions: true,
            pagerCustom: '#bx-pager',
            pause: 6000
        });
    });
</script>
{% endif %}
